@import '../variables.scss';
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    color: $dark;
    background: $yellow;
    background: -moz-linear-gradient(-45deg, $darkYellow 0%,$brown 100%);
    background: -webkit-linear-gradient(-45deg, $darkYellow 0%, $brown 100%);
    background: linear-gradient(135deg,$darkYellow 0%, $brown 100%);
    // background: rgb(255,255,255);
    // background: -moz-linear-gradient(-45deg, rgb(230,230,255) 0%, rgb(108,42,255) 100%);
    // background: -webkit-linear-gradient(-45deg, rgb(230,230,255) 0%, rgb(108,42,255) 100%);
    // background: linear-gradient(135deg, rgb(230,230,255) 0%, rgb(108,42,255) 100%);
    background-repeat: no-repeat;
}

#root {
    height: 100%;
}
