@import '../variables.scss';

.layout_header{
    position: fixed;
    top: 0;
    width: 100%;
}

.layout_body {
    position: relative;
    z-index: -13;
    top: $headerHeight;
    overflow-y: scroll;
    background-color: transparent;
    margin-bottom: $footerHeight;
    height: calc(100vh - #{$headerHeight}-#{$footerHeight});
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}